<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
{{>cdn_links}}
    <link rel="stylesheet" href="css/style.css">

</head>

<body>
    {{>navbar}}

    <!-- main header  -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side div  -->
                    <div class="col-md-10 col-12 main_header_left align-items-center">
                        <img src="img/404.png" class="img-fluid" title="Error404">
                        <p>Welcome to Weather app</p>
                        <h1>Oops! Page not Found</h1>
                        <a href="/"><button>Goto Home</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- footer part -->
    {{>footer}}
    <script>

    </script>
</body>

</html>